@media (width < 1200px) {
  .footer-container {
    width: 100vw;
    height: 100%;
  }
}

@media (width < 1200px) {
  .footer-wrapper.blocks,
  .footer-contact-and-network,
  .footer-wrapper menu .footer-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (width <= 768px) {
  .footer-wrapper.blocks {
    row-gap: 32px;
  }
  .footer-contact-and-network {
    gap: 50px;
  }
}

@media (width <= 768px) {
  .footer-wrapper.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 124px;

    @media (width <= 375px) {
      row-gap: 32px;
    }
  }
}

@media (width <= 768px) {
  .footer-wrapper.menu .footer-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (width < 376px) {
      flex-direction: column;
    }
  }
}
