.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 370px;
    background-image: url(/src/images/Subcribe.jpg);
    background-repeat: no-repeat; //no repeat
    background-size: cover;
    background-position: center; //added
    background-attachment: fixed; //added
    margin: 0 auto;

    //   padding: 72px 367px;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/src/images/Subcribe.jpg);
    }
}

@media (width < 1200px) {
    .subscribe-section {
        width: 100vw;
        height: 100%;
        padding: 72px 367px;
    }
}

@media (width <=768px) {
    .subscribe-section {
        padding: 72px 150px;
    }
}

@media (width <=428px) {
    .subscribe-section {
        padding: 72px 24px;
    }
}

.blocks {
    display: block;
    justify-content: center;
    width: 467px;
    height: 226px;
    // margin-left: 366px;
    gap: 24px;
    //   padding-bottom: 15px;
    //   padding-top: 40px;
    //   padding-bottom: 72px;
}

.blocks1 {
    font-family: Montserrat;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    height: 56px;
}

.blocks2 {
    font-family: Montserrat;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subscribe-btn1 {
    width: 172px;
    height: 50px;
    padding: 14px 40px; //14px 40px 14px 40px
    border-radius: 100px;
    gap: 14px;
    color: white;
    background-color: #FD9222;
    text-align: center;
    //   align-items: center;
    margin-left: 150px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 21.94px;
    display: block;
    align-items: center;
    justify-content: center;
}

.subscribe-btn1:hover {
    color: #FD9222;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: #FCF1E0;
    box-shadow: 0px 4px 4px 0px, rgba(0, 0, 0, 0.15);
}

//modal//

.backdrop-subscribe {
    z-index: 3;
    background-color: #0006;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    position: fixed;
    top: 0;
}

.modal-subscribe {
    width: 538px;
    // height: 196px;
    border-radius: 15px;
    background-color: #FFFFFF;

}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.subscribe-btn2-close {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: block;
    position: absolute;
    margin-left: 500px;
    margin-top: 15px;
    fill: white;
}

.blocks4 {
    background-size: cover;
    width: 538px;
}

.blocks4-modal {
    background-color: #FFFFFF;
    // background-color: rgba(0, 0, 0, 0.1);
}

.blocks4-set {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    width: 538px;
}

.blocks4-text1 span {
    color: #FD9222;
}

.blocks4-text1 {
    color: black;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
}

.blocks-form {
    display: flex;
    padding-bottom: 25px;
}

.blocks4-form-input {
    border: 2px solid white;
    background: none;
    border-radius: 30px;
    padding: 14px;
    gap: 40px;
    width: 200px;
    height: Hug (50px);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
}

.blocks4-form-input:placeholder-shown {
    color: white;
}

.placeholder {
    color: white;
}

.blocks-form-button {
    width: Hug (172px);
    height: Hug (50px);
    padding: 14px 40px 14px 40px;
    border-radius: 100px;
    gap: 14px;
    background-color: #FD9222;
    color: #FFFFFF;
    margin-left: 80px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 21.94px;
}

.blocks-form-button:hover {
    width: Hug (172px);
    height: Hug (50px);
    color: #FD9222;
    display: inline-flex;
    padding: 14px 40px 14px 40px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: #FCF1E0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.blocks-form {
    padding-bottom: 25px;
}