<footer class="footer-container">
  <div class="footer-wrapper blocks">
    <div class="footer-text">
      <h3>
        <span>Chocolate</span> a delicious <br />
        cure for a bad day
      </h3>
    </div>

    <div class="footer-contact-and-network">
      <div class="footer-contact-wrapper">
        <h3>Contact us</h3>
        <ul class="footer-contact-list">
          <li class="footer-contact-item">
            <a href="tel:+380(68)4439426">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-contact-item">
            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="footer-network-wrapper">
        <div class="footer-network">
          <a href="https://www.instagram.com/">
            <svg>
              <use href="images/icons.svg#instagram"></use>
            </svg>
          </a>
        </div>
        <div class="footer-network">
          <a href="https://twitter.com/">
            <svg>
              <use href="images/icons.svg#twitter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-wrapper menu">
    <ul class="footer-menu-list">
      <li class="footer-menu-item"><a href="#">Home</a></li>
      <li class="footer-menu-item"><a href="#">How it's made?</a></li>
      <li class="footer-menu-item"><a href="#">Our products</a></li>
      <li class="footer-menu-item"><a href="#">Top sellers</a></li>
      <li class="footer-menu-item"><a href="#">Chocolate is loved</a></li>
    </ul>
  </div>
</footer>
