<header class="hero-desktop">

    <div class="hero-container hero-header">

        <!--Logo-->
        <div class="heromain-logocontainer">
            <a href="/Simply Chocolate" class="heromain-logo"><i>Simply</i> Chocolate</a>
            <svg height="24" width="24" class="heromain-iconlogo">
                <use href="/src/images/hero.svg#chocolatelogo"></use>
            </svg>
        </div>

        <nav>
            <ul class="heronav-link">
                <li><a href='/Home'>Home</a></li>
                <li><a href='/How its made'>How it's made?</a></li>
                <li><a href='/Our products'>Our products</a></li>
                <li><a href='/Top seller'>Top sellers</a></li>
                <li><a href='/Chocolate is loved'>Chocolate is loved</a></li>
            </ul>
        </nav>

        <ul class="hero-social">
            <a>
                <svg height="24" width="24">
                    <use href="/src/images/hero.svg#instagram-2"></use>
                </svg>
            </a>
            <a>
                <svg height="24" width="24" class="hero-socialtwitter">
                    <use href="/src/images/hero.svg#twitter-4"></use>
                </svg>
            </a>
        </ul>

    </div>

</header>

<header class="hero-mobile">

    <div class="hero-container">
        <!--Logo-->
        <div class="heromobile-logo">
            <div class="heromain-logocontainer">
                <a href="/Simply Chocolate" class="heromain-logo"><i>Simply</i> Chocolate</a>
                <svg height="24" width="24" class="heromain-iconlogo">
                    <use href="/src/images/hero.svg#chocolatelogo"></use>
                </svg>
            </div>
            <div>
                <svg width="32" height="22" class="js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <use href="/src/images/hero.svg#hamburger"></use>
                </svg>
            </div>
        </div>

    </div>
</header>

<div class="js-menu-container mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">
        <button class="modal-close-button js-close-menu">
            <svg width="32" height="32">
                <use href="/src/images/hero.svg#close"></use>
            </svg>
        </button>
        <nav class="heromobile-nav">
            <ul class="heromobile-links">
                <li><a href='/Home'>Home</a></li>
                <li><a href='/How its made'>How it's made?</a></li>
                <li><a href='/Our products'>Our products</a></li>
                <li><a href='/Top seller'>Top sellers</a></li>
                <li><a href='/Chocolate is loved'>Chocolate is loved</a></li>
            </ul>

            <div>
                <div class="hero-mobilesocial">
                    <a>
                        <svg height="24" width="24" class="heromobile-social">
                            <use href="/src/images/hero.svg#instagram-2"></use>
                        </svg>
                    </a>
                    <a>
                        <svg height="24" width="24" class="">
                            <use href="/src/images/hero.svg#twitter-5"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </div>

</div>

<main class="hero-main">
    <section class="hero-imagearea hero-container">
        <h1 class="hero-h1">
            Treat yourself or a loved one to<br> our finest ingredients for a moment<br>of pure delight!
        </h1>

        <div class="hero-imagebtns">
            <div class="hero-imagebtn1">
                <button type="button" class="hero-btn1">Buy now</button>

                <button type="button" class="hero-btn2">How it's made</button>
            </div>

            <div class="hero-imagebtn2">
                <button type="button" class="hero-btn3">Scroll down
                    <svg height="22" width="22" class="hero-btnicon">
                        <use href="/src/images/hero.svg#angledown"></use>
                    </svg>
                </button>

            </div>
        </div>

    </section>

    <!--Hero Description-->

    <section class="hero-aboutarea">

        <div class="hero-container">
            <ul class="heroabout-list">
                <li class="heroabout-container">
                    <svg height="32" width="32" class="heroabout-icon">
                        <use href="/src/images/hero.svg#chocowrap"></use>
                    </svg>
                    <h3 class="heroabout-h3">Unsurpassed taste</h3>
                    <p class="heroabout-p">Crafted with the finest quality cocoa beans and a dedication to perfection,
                        each bite is a decadent experience that
                        simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and
                        discover a new level of
                        chocolate bliss.</p>
                </li>
                <div class="heroaboutline"></div>
                <li class="heroabout-container">
                    <svg height="32" width="32" class="heroabout-icon">
                        <use href="/src/images/hero.svg#dollarcoin"></use>
                    </svg>
                    <h3 class="heroabout-h3">Affordable price</h3>
                    <p class="heroabout-p">Indulge in high-quality chocolate without breaking the bank with Simply
                        Chocolate's selection of affordable treats.
                        Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality.
                        Browse our selection and
                        indulge in affordable luxury today.</p>
                </li>
                <div class="heroaboutline"></div>
                <li class="heroabout-container">
                    <svg height="32" width="32" class="heroabout-icon">
                        <use href="/src/images/hero.svg#spoon"></use>
                    </svg>
                    <h3 class="heroabout-h3">Own production</h3>
                    <p class="heroabout-p">We take pride in our own production process, ensuring that every step is
                        carefully crafted to perfection. From selecting
                        the finest ingredients to handcrafting each piece, our attention to detail is evident in every
                        bite.</p>
                </li>
            </ul>

        </div>

    </section>
</main>

