<section class="ingredients">
    <!-- 1ST PART -->
    <div class="ing-cont">
        <h2 class="ing-main-text">IT ALL ADDS UP TO ONE<br>EXCEPTIONAL <span class="taste-text">TASTE</span> SENSATION
        </h2>
        <p class="ing-2nd-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
            details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every
            step of our process adds up to one exceptional taste sensation.</p>
        <div class="ing-box">
            <ul class="ing-names">
                <li class="ing-milk-choco ing-style">
                    <img src="/src/images/white-choco.jpg" alt="white-choco">
                    <p class="ing-text-colors-wh">mILK CHOCOLATE</p>
                    <!-- VISUAL PART -->
                    <div class="ing-visual">
                        <h3 class="ing-vis-h3">Milk chocolate</h3>
                        <div class="ing-vis-btn">
                            <p class="ing-vis-btn-1">chocolate</p>
                            <p class="ing-vis-btn-2">the benefits</p>
                        </div>
                        <p class="ing-vis-decription">
                            Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is
                            the most consumed type of chocolate. Chocolate was originally sold and consumed as a
                            beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the
                            United States and Europe.
                        </p>
                    </div>
                </li>
                <li class="ing-milk ing-style">
                    <img src="/src/images/milk.jpg" alt="milk">
                    <p class="ing-text-colors-bl">Milk</p>
                    <!-- VISUAL PART -->
                    <div class="ing-visual">
                        <h3 class="ing-vis-h3">Milk</h3>
                        <div class="ing-vis-btn">
                            <p class="ing-vis-btn-1">milk</p>
                            <p class="ing-vis-btn-2">the benefits</p>
                        </div>
                        <p class="ing-vis-decription">
                            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary
                            source of nutrition for young mammals (including breastfed human infants) before they are
                            able to digest solid food.Early-lactation milk, which is called colostrum, contains
                            antibodies that strengthen the immune system. </p>
                        </p>
                    </div>
                </li>
                <li class="ing-nuts ing-style">
                    <img src="/src/images/nuts.jpg" alt="nuts">
                    <p class="ing-text-colors-wh">nuts</p>
                    <!-- VISUAL PART -->
                    <div class="ing-visual">
                        <h3 class="ing-vis-h3">Nuts</h3>
                        <div class="ing-vis-btn">
                            <p class="ing-vis-btn-1">nuts</p>
                            <p class="ing-vis-btn-2">the benefits</p>
                        </div>
                        <p class="ing-vis-decription">
                            Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When
                            eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing
                            your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein.
                            Plus, they’re great on their own. </p>
                        </p>
                    </div>
                </li>
                <li class="ing-sweet-choco ing-style">
                    <img src="/src/images/semi-sweet-choco.jpg" alt="sweet-choco">
                    <p class="ing-text-colors-bl">sEMI - SWEET CHOCOLATE</p>
                    <!-- VISUAL PART -->
                    <div class="ing-visual">
                        <h3 class="ing-vis-h3">semi - sweet chocolate</h3>
                        <div class="ing-vis-btn">
                            <p class="ing-vis-btn-1">sweet chocolate</p>
                            <p class="ing-vis-btn-2">the benefits</p>
                        </div>
                        <p class="ing-vis-decription">
                            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an
                            understanding of this type of chocolate is to compare it to a different type of chocolate.
                            Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter
                            taste whereas milk chocolate is sweeter and more mellow.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
</section>
<section>
        <!-- 2ND PART -->
        <div class="ing-made-cont">
            <div>
                <h2 class="ing-main-text">hOW IT’S <span class="taste-text">made?</span></h2>
            </div>
            <div class="ing-recipe-box">
                <div>
                    <iframe class="ing-preparing-clip" src="https://www.youtube.com/embed/JgzkfO8nYKo" width="600"
                        height="400" frameborder="0"></iframe>
                </div>
                <div class="ing-recipe">
                    <p class="ing-recipe-text-1">Try our chocolates today and discover the perfect balance of flavor</p>
                    <ul class="ing-recipe-text-2">
                        <li>
                            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                        </li>
                        <li>
                            At the same time, prepare a water bath. Melt the butter on it.
                        </li>
                        <li>
                            "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so
                            that the mass becomes uniform and silky.
                        </li>
                        <li>
                            Heat the mixture over low heat, letting it barely boil.
                        </li>
                        <li>
                            Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool
                            and harden.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>