<section class="our-products-section">

    <h1 class="title">Our <span class="title-product">Products</span></h1>
    <div class=" our-products-container">
        <button class="prev-button">0
        </button>
        <div class="card"><img class="img" src="/src/image/orange.jpg" alt="a orange flavor">
            <h3 class="item-name">orange</h3>
            <p class="item-description">
                Dark chocolate
            </p>
            <div>
                <button class="b-box">45 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/apple&cranberry.jpg" alt="a apple flavor">
            <h3 class="item-name">apple&cranberry</h3>
            <p class="item-description">
                Milk chocolate
            </p>
            <div>
                <button class="b-box">50 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/lime&seasalt.jpg" alt="a lime & seasalt flavor">
            <h3 class="item-name">lime&sea salt</h3>
            <p class="item-description">
                Dark chocolate
            </p>
            <div>
                <button class="b-box">66 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/pineapple.jpg" alt="a pineapple flavor">
            <h3 class="item-name">pineapple</h3>
            <p class="item-description">
                Dark chocolate
            </p>
            <div>
                <button class="b-box">54 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/classicmilk.jpg" alt="a milk flavor">
            <h3 class="item-name">classic</h3>
            <p class="item-description">
                Milk chocolate
            </p>
            <div>
                <button class="b-box">45 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/honey.jpg" alt="a honey flavor">
            <h3 class="item-name">honey</h3>
            <p class="item-description">
                Milk chocolate
            </p>
            <div>
                <button class="b-box">50 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/roastedwinterfruits.jpg" alt="a roasted winterfruits flavor">
            <h3 class="item-name">roasted fruits</h3>
            <p class="item-description">
                Dark chocolate
            </p>
            <div>
                <button class="b-box">66 UAH</button>
            </div>
        </div>
        <div class="card"><img class="img" src="/src/image/classicwhite.jpg" alt="a classicwhite flavor">
            <h3 class="item-name">classic</h3>
            <p class="item-description">
                white chocolate
            </p>
            <div>
                <button class="b-box">54 UAH</button>
            </div>
        </div>
        <button class="next-button">></button>
    </div>

    <div class="dot-navigation">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>

    </div>

</section>