<section class="customers-review">
    <div class="main-reviews">
        <h1 class="review-message">
            <span class="chocolate">CHOCOLATE</span>
            <span class="love">IS LOVED</span>
        </h1>
        <div class="review-grid">
            <ul class="review-list">
                <li class="review-card1">
                    <img src="/src/images/review1.jpg" alt="Victoria Dobrzhanska - Customer's review">
                    <div class="reviews-card">
                        <h3>Victoria Dobrzhanska</h3>
                        <p>I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin
                            layer chocolate.</p>
                    </div>
                </li>
                <li class="review-card2"><img src="/src/images/review2.jpg" alt="Nazar Babenko - Customer's review">
                    <div class="reviews-card">
                        <h3>Nazar Babenko</h3>
                        <p>This chocolate confection is a delight! A delight! The wafer is light and crisp, the
                            hazelunt cream is smooth, and the chocolate is good.</p>
                    </div>
                </li>
                <li class="review-card3"><img src="/src/images/review3.jpg" alt="Olena Kampusch - Customer's review">
                    <div class="reviews-card">
                        <h3>Olena Kampusch</h3>
                        <p> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the
                            creaminess inside. The wafer is soft but crunchy.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="offer-banner">
            <svg class="oblong-banner">
                <use href="/src/images/review.svg#oblong"></use>
            </svg>
            <svg class="banner">
                <use href="/src/images/review.svg#eclipse"></use>
            </svg>
            <svg class="banner">
                <use href="/src/images/review.svg#eclipse"></use>
            </svg>
            <svg class="banner">
                <use href="/src/images/review.svg#eclipse"></use>
            </svg>
        </div>
        <div class="review-button">
            <button class="review-btn" data-modal-open>Leave a review</button>
        </div>
        <div class="backdrop is-hidden" data-modal>
            <div class="customers-review-modal">
                <button type="button" class="modal-close-btn" data-modal-close>
                    <svg class="x-close">
                        <use href="/src/images/review.svg#close"></use>
                    </svg>
                </button>
                <h2 class="modal-review-message">
                    <span class="review">LEAVE A REVIEW ABOUT</span><br>
                    <span class="chocolate">OUR CHOCOLATE</span>
                </h2>
                <form class="customers-review-form">
                    <input type="text" class="review-input" placeholder="Name">
                </form>
                <form class="customers-review-form">
                    <input type="email" class="review-input" placeholder="Email">
                </form>
                <form class="customers-review-form">
                    <div class="input-number">
                        <svg class="flag">
                            <use href="/src/images/review.svg#frame"></use>
                        </svg>
                        <span class="area-code"><b>+380</b></span>
                    </div>
                    <input type="number" class="review-phone" placeholder="|    Phone number">
                </form>
                <form class="customers-review-form">
                    <textarea class="text-comment-box" placeholder="Enter text"></textarea>
                </form>
                <button type="submit" class="submit-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
