<section class="subscribe">
    <div class="blocks">
        <h2 class="text1">EXPLORE OUR NEW <br> CHOCOLATE FIRST</h2>
        <!--<div class="blocks-1">-->
            <p class="text2">From the velvety texture to the rich and complex flavor, our New <br> Chocolate is a true indulgence that will leave you craving more. Made <br> with only the finest ingredients and handcrafted with the utmost <br> care, each piece is a work of art that is sure to please.</p>
        <!--</div>-->
        <button type="button" class="blocks-button text" data-modal-open>Subscribe</button>
    </div>

    <div class="blocks-subscribe">
        <div>
            <img src="images/subscribe2.png" alt="Subscribe2" width="538"/>
        </div>
        <div class="blocks-subscribe1">
            <p class="blocks-text">EXPLORE OUR <br> <span>NEW CHOCOLATE</span> FIRST!</p>
        </div>

        <div class="blocks-subscribe2">
            <form>
                <input type="text" placeholder="Enter your email" class="blocks-input"/>
                <button class="blocks-input-button">Subscribe</button>
            </form>
        </div>
    </div>
</section>