<section class="subscribe-section">
    <!-- <div class="subscribe"> -->
        <div class="blocks">
            <div class="blocks1">
                <h4>EXPLORE OUR NEW <br> CHOCOLATE FIRST</h4>
            </div>
            <div class="blocks2">
                <p>From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</p>
            </div>
            <div class="blocks3">
                <button type="button" class="subscribe-btn1" data-modal-open>Subscribe</button>
            </div>
            <div class="blocks4">
                <div class="blocks4-modal is-hidden" data-modal>
                    <div class="modal">
                        <div blocks4-modal-subscribe1>
                            <div class="blocks4-modal-subscribe">
                                <svg type="button" class="subscribe-btn2-close" data-modal-close>
                                    <use href="/src/images/icons.svg#close"></use>
                                </svg>
                                <img src="/src/images/subscribe2.jpg" alt="Subscribe2" width="538"/>
                            </div>
                            <div class="blocks4-set">
                                <div class="blocks4-text">
                                    <p class="blocks4-text1">EXPLORE OUR <br> <span>NEW CHOCOLATE</span> FIRST!</p>
                                </div>
                                <div class="blocks-form">
                                    <form>
                                        <input type="text" placeholder="Enter your email" class="blocks4-form-input"/>
                                        <button class="blocks-form-button">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    <!-- </div> -->
</section>