<Section class="top-seller-section">
    <div class="top-seller">
        <h2 class="top-seller-text"><span class="topseller-text-top">TOP </span>SELLERS</h2>
        <div>
            <ul class="top-seller-list">
                <li class="top-seller-image">
                    <img src="./images/img01Chocs.png" alt="chocolate Bar">
                </li>
                <li class="top-seller-image">
                    <img src="./images/img02Chocs.png" alt="chocolate Bar">
                </li>
                <li class="top-seller-image">
                    <img src="./images/img03Chocs.png" alt="chocolate Bar">
                </li>
            </ul>
        </div>
        <div class="top-seller-lower">
            <p class="top-seller-lowertext">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button type="button" class="btn-seller-text">Buy now</button>
        </div>
    </div>
</Section>